snippet marriage "marriage"
"marriages": [
	{
		"spouse": {
			"name": "NAME",
			"class": "man"
		},
		"children": [
		]
	}
]
endsnippet

snippet man "description"
{
	"name": "NAME",
	"class": "man"
}
endsnippet

snippet woman "description"
{
	"name": "NAME",
	"class": "woman"
}
endsnippet
