[color]
  diff = auto
  status = auto
  branch = auto
[core]
  whitespace = cr-at-eol
  editor = vim
  excludesfile = /Users/petur/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RFX
  ;autocrlf = input
[http]
  sllverify = false
  sslverify = false
[user]
  name = Petur Subev
  email = petur.subev@gmail.com
  signingkey = 7FEF56E6
[push]
  default = tracking
[alias]
  spush = push --recurse-submodules=on-demand
  supdate = submodule update --remote --rebase
  su = submodule update
  c = commit -m
  co = checkout
  a = add
  cc = commit --all -m
  ca = commit --amend
  dic = diff --cached
  p = pull
  pl = pull --rebase
  ps = push
  s = status
  st = status
  br = branch
  b = branch
  out = log origin..HEAD
  qpl = log --pretty=\"%Cblue%h%Creset %Cgreen[%cr]%Creset %s\" origin/production..origin/master
  ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset' --abbrev-commit --date=relative
  l = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset' --abbrev-commit --date=relative
  ll = log --branches --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset' --abbrev-commit --date=relative
  lastchanges =  log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset' --abbrev-commit --date="relative" --stat
  eu = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
  au = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  cl = "!git co src/kendo.editor.js && git co wrappers/mvc/demos/Kendo.Mvc.Examples/App_Data/"
  d = "!f() { [ -z "$GIT_PREFIX" ] || cd "$GIT_PREFIX" '\
    '&& git diff --color "$@" | diff-so-fancy  | less --tabs=4 -RFX; }; f"

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
[merge]
  tool = gvim
  conflictstyle = diff3
  prompt = false
[rerere]
  enabled = true
[status]
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
  template = /Users/petur/.stCommitMsg
[mergetool "mvimdiff"]
  cmd = mvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\"
