[color]
  diff = auto
  status = auto
  branch = auto
[core]
  whitespace = cr-at-eol
  editor = nvim
  excludesfile = /Users/petur/.gitignore_global

;  pager = delta
;[interactive]
;  diffFilter = delta --color-only
;[delta]
;   side-by-side = true
;[difftool "sourcetree"]
;   cmd = opendiff \"$LOCAL\" \"$REMOTE\"
;   path = 

; difftastic setup
[diff]
  external = difft
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
; end of difftastic setup

[http]
  sllverify = false
  sslverify = false
[user]
  name = Petur Subev
  email = petur.subev@gmail.com
  signingkey = 7FEF56E6
[push]
  default = tracking
  autoSetupRemote = true
[alias]
  spush = push --recurse-submodules=on-demand
  supdate = submodule update --remote --rebase
  su = submodule update
  c = commit -m
  co = checkout
  a = add
  cc = commit --all -m
  ca = commit --amend
  caa = commit --all --amend
  cp = cherry-pick
  f = fetch
  dic = diff --cached -w
  p = pull
  pl = pull --rebase
  ps = push
  s = status
  st = status
  br = branch
  brs = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  b = branch
  out = log origin..HEAD
  qpl = log --pretty=\"%Cred%h%Creset %Cgreen[%cr]%Creset %s\" origin/production..origin/master
  ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cred%an%Creset' --abbrev-commit --date=relative
  la = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cred%an%Creset' --abbrev-commit --date=relative
  ;ll = log --branches --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cred%an%Creset' --abbrev-commit --date=relative
  ll = !git ls origin/$(git rev-parse --abbrev-ref HEAD) HEAD
  l = !git ls origin/$(git rev-parse --abbrev-ref HEAD) HEAD
  lp = log --all --abbrev-commit --date=relative -p
  lsp = log --abbrev-commit --date=relative -p
  lastchanges =  log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cred%an%Creset' --abbrev-commit --date="relative" --stat
  d = diff -w
  drop = reset --hard HEAD^
  rom = !git fetch && git rebase origin/master
  puf = push -f

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[merge]
  autostash = true
  tool = gvim
  ; toggle this to see parent change
  conflictstyle = zdiff3
  prompt = false
[rerere]
  enabled = true
[status]
[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[mergetool "mvimdiff"]
  cmd = mvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[pull]
  rebase = true
  autostash = true
[rebase]
  autostash = true
