[color]
  diff = auto
  status = auto
  branch = auto
[core]
  whitespace = cr-at-eol
  editor = nvim
  excludesfile = /Users/petur/.gitignore_global
  pager = delta --plus-color="#014000" --minus-color="#580001" --theme='gruvbox'
[interactive]
  diffFilter = delta --color-only
[http]
  sllverify = false
  sslverify = false
[user]
  name = Petur Subev
  email = petur.subev@gmail.com
  signingkey = 7FEF56E6
[push]
  default = tracking
[alias]
  spush = push --recurse-submodules=on-demand
  supdate = submodule update --remote --rebase
  su = submodule update
  c = commit -m
  co = checkout
  a = add
  cc = commit --all -m
  ca = commit --amend
  caa = commit --all --amend
  dic = diff --cached -w
  p = pull
  pl = pull --rebase
  ps = push
  s = status
  st = status
  br = branch
  brs = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  b = branch
  out = log origin..HEAD
  qpl = log --pretty=\"%Cblue%h%Creset %Cgreen[%cr]%Creset %s\" origin/production..origin/master
  ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset' --abbrev-commit --date=relative
  l = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset' --abbrev-commit --date=relative
  ll = log --branches --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset' --abbrev-commit --date=relative
  lp = log --all --abbrev-commit --date=relative -p
  lsp = log --abbrev-commit --date=relative -p
  lastchanges =  log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset' --abbrev-commit --date="relative" --stat
  d = diff -w

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
[merge]
  tool = gvim
  conflictstyle = diff3
  prompt = false
[rerere]
  enabled = true
[status]
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[mergetool "mvimdiff"]
  cmd = mvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[pull]
  rebase = true
